<div *ngIf="store3 | suspense as s">
  <p>Suspense pipe</p>

  <p>{{ s.type }} is loading? {{ s.isLoading | json }}</p>
</div>

<ngrxt-store-debug [store]="store"></ngrxt-store-debug>
<ngrxt-store-debug [store]="store2"></ngrxt-store-debug>
<ngrxt-store-debug [store]="store3"></ngrxt-store-debug>
<ngrxt-store-debug [store]="store3"></ngrxt-store-debug>
<ngrxt-store-debug></ngrxt-store-debug>

<button (click)="benchmarkAllSame()">Benchmark all same</button>
<button (click)="benchmarkAllNew()">Benchmark all new</button>
